doctype html
html
    head
        title Decoded SAML Response
        style.
            pre {
                white-space: pre-wrap;
                word-wrap: break-word;
                background-color: #f4f4f4;
                padding: 15px;
                border-radius: 5px;
            }
    body
        h1 Decoded SAML Response
        pre= decodedSAMLResponse
        a(href='/') Back to Home